body {
    margin: 0;
    padding: 0;
    background-image: url('/images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 150px;
}

.error {
    color: red;
}
.error.input {
    margin-top: -10px;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.alert.success {
    padding: 10px;
    background-color: #afc;
    margin-bottom: 10px;
}

.meta {
    font-size: 85%;
    color: #333333;
}

.box {
    min-height: 200px;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #999;
}